{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#343a40">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Ashish Kumar Bhoi">
    <meta name="keywords" content="python, django, iitdh, IIT, G-12, IIT Dharwad">
    <meta name="description" content="IIT Dharwad Student management system">
    <link rel="shortcut icon" href="{% static 'favicon.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'favicon.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'favicon.png' %}">
    <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/@fortawesome/fontawesome-free/css/all.css' %}">
    <title>Student</title>
</head>
<body>
    <h1>Ashish Kumar Bhoi</h1>
</body>
<script src="{% static 'node_modules/jquery/dist/jquery.js' %}"></script>
<script src="{% static 'node_modules/popper.js/dist/umd/popper.js' %}"></script>
<script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.js' %}"></script>
<script src="{% static 'node_modules/@fortawesome/fontawesome-free/js/all.js' %}"></script>
</html>